.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 8px;
}

p {
    margin: 0;
}

.info {
    display: flex;
    gap: 10px;
}

.info > img:first-of-type {
    width: 64px;
    height: 64px;
    border-radius: 6px;
}

.info > div {
    display: flex;
    flex-direction: column;
}

.heart {
    width: 24px;
    height: 24px;
}
