#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.App > div {
  display: flex;
  gap: 20px;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 20px;
  width: 50%;
}